<!-- Logo -->
<div class="homepage-logo d-flex flex-wrap justify-center align-center d-m-bottom" [class.mat-elevation-z2]="true">
    <mat-icon class="d-pad d-m hover-div mouse-pointer" aria-hidden="false" (click)="onClickLogo()">
        library_music
    </mat-icon>
    <div class="d-flex d-m column justify-center homepage-logo-title-container">
        <p class="d-pad text-overflow-break text-center">
            <b>Geração Procedural de Melodias com Aprendizado do Máquina</b>
        </p>
    </div>
</div>

<div class="d-flex column d-pad-bottom d-pad-vertical-lg">

    <div class="homepage-section d-pad">
        <b>O que é uma melodia?</b>
    </div>
    <div class="d-flex column d-pad homepage-info">
        <p class="text-justify">
            Para a música ocidental, "melodia" pode ser definida como uma sucessão de notas
            musicais, sendo que essa sequência só pode ser classificada como “coerente” (ou
            afinada) quando todas as notas estão dentro do conjunto de frequências esperadas em relação ao
            tom da obra.
        </p>
        <p class="text-justify">
            Uma nota desafinada é aquela cujo a frequência não é prevista pelas relações das demais notas da peça. Esta
            percepção de afinação é comumente atribuída a fatores culturais.
        </p>
        <div class="d-m d-flex column align-center">
            <img class="border" src="assets/images/instrumento-ondas.png" style="width: 500px;">
            <span>
                Fonte: Traduzido de
                <a href="https://amath.colorado.edu/pub/matlab/music/">
                    https://amath.colorado.edu/pub/matlab/music/
                </a>
            </span>
        </div>
        <p class="text-justify">
            As notas musicais são comumente decompostas em dois elementos principais: tom e
            duração. Isso significa que cada nota musical é uma onda sonora que ressoa por um determinado
            intervalo de tempo.
        </p>
        <p class="text-justify">
            Entretanto o tom não é a onda física (com amplitude e frequência) mas
            sim a percepção atribuída a onda. Como demonstra a figura acima, as
            propriedades da onda de uma mesma nota depende de sua fonte, seja esta um
            instrumento ou não.
        </p>
    </div>

    <div class="homepage-section d-pad">
        <b>Como uma melodia pode ser gerada de forma procedural?</b>
    </div>
    <div class="d-pad homepage-info">
        <p class="text-justify">
            A geração de melodias é executada por uma Inteligência Artificial (IA) construída no modelo Memória de Longo
            e Curto Prazo (LSTM).
        </p>
        <p class="text-justify">
            As IA's LSTM são Redes Neurais Recorrentes (RNN). Estas redes de nós (também chamados de "neurônios
            artificiais") utilizam
            conexões de retorno (feedback) para construir o contexto de suas entradas recentes considerando
            as ativações causadas por elas. Sendo assim, este contexto pode ser utilizado pela rede para
            realizar previsões dentro de um processo que é dito "cíclico" devido sua natureza de reutilização das
            ativações causadas pelas entradas passadas como parte das novas entradas recebidas.
        </p>
        <div class="d-m d-flex column align-center">
            <img class="border" src="assets/images/rnn.png" style="width: 500px;">
            <span>
                Fonte: Autoria própria.
            </span>
        </div>
        <p class="text-justify">
            A váriação LSTM adiciona um controle de estado dos dados que consegue discartar as informações
            desnecessárias do
            fluxo de dados recorrentes, corrigindo o problema de "sumiço do gradiente" e amenizando as possibilidades de
            "estouro do gradiente".
        </p>
        <p class="text-justify">
            O método de geração baseia-se no processo de amostragem do espaço latente pela LSM - ou seja, na
            combinação de características ditas "convencionais" para compor uma sequência de
            notas considerada adequada. Dessa forma, fica a cargo exclusivo da IA a seleção das características físicas
            da
            composição como as batidas por minuto, a assinatura temporal da peça, a escala utilizada e o tom
            da melodia.
        </p>
    </div>

    <div class="homepage-section homepage-primary-section d-pad">
        <b>Gerar melodia</b>
    </div>
    <div class="d-pad homepage-info">
        <p class="text-justify">
            Para gerar uma melodia é necessário selecionar um <b>gênero</b> e requisitar sua criação através do botão
            <b>Gerar melodia</b>.
        </p>
        <p class="text-justify">
            Após ouvir a melodia <u>não se esqueça de avalia-lá</u>. A sua opnião pode contribuir para o aprimoramento
            da IA!
        </p>
    </div>

    <!-- Geração da melodia -->
    <div class="d-pad homepage-info">

        <div class="row justify-end align-center">

            <!-- Gênero -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gênero</mat-label>
                <input type="text" placeholder="Selecione um gênero..." matInput [formControl]="generoControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of generoFilteredOptions | async" [value]="option.label">
                        {{option.label}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- Botão -->
            <button class="d-m" mat-button (click)="generate()">Gerar melodia</button>

        </div>

        <app-player [melody]="melodia" [service]="service" (ratingEvt)="onMelodiaAvaliada()"></app-player>

    </div>

</div>

<!-- Rodapé -->
<footer class="d-flex column align-center d-pad homepage-footer">

    <!-- Logo -->
    <div class="row justify-center align-center">
        <mat-icon class="d-pad" aria-hidden="false">
            library_music
        </mat-icon>
        <span>Geração Procedural de Melodias com Aprendizado do Máquina</span>
    </div>

    <!-- Autor -->
    <div class="row d-pad justify-center align-center">
        <span>João Leonardo H. D. Agnol</span>
    </div>

    <!-- Ano -->
    <div class="row d-pad justify-center align-center">
        <span>2022</span>
    </div>

</footer>