<section *ngIf="noteSequence" class="d-flex column">

    <!-- Visualização da melodia -->
    <div class="midi-visualizer d-pad">
        <app-visualizer [noteSequence]="noteSequence"></app-visualizer>
    </div>

    <div class="d-pad">
        <div class="progress-bar">
            <div class="progress" appProgressBar [maxTime]="noteSequence.totalTime" [isPlaying]="isPlaying"></div>
        </div>
    </div>

    <!-- Ações -->
    <div class="row d-pad justify-between">

        <!-- Avaliação -->
        <div class="row">
            <button mat-icon-button class="text-sucess hover-div" label="Like" [disabled]="isLoading || isRated"
                (click)="rate(true)">
                <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button class="text-error hover-div" label="Dislike" [disabled]="isLoading || isRated"
                (click)="rate(false)">
                <mat-icon>thumb_down</mat-icon>
            </button>
        </div>

        <button mat-button (click)="play()">
            <mat-icon>{{isPlaying | playerBtn}}</mat-icon>
        </button>

    </div>


</section>